Repository appium/dotnet-client, pull requests merged in 2021-01, with the labels that each got.

#447 feat: Add support for Android Espresso's ViewMatcher
  src/Appium.Net/Appium/Android/AndroidDriver.cs
  src/Appium.Net/Appium/Android/AndroidElement.cs
  src/Appium.Net/Appium/Enums/MobileSelector.cs
  src/Appium.Net/Appium/Interfaces/IFindByAndroidViewMatcher.cs
  src/Appium.Net/Appium/MobileBy.cs
  test/integration/Android/ElementTestEspresso.cs
Labels: Enhancement

#448 fix: device system time null exception
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium/AppiumDriverCommand.cs
  test/integration/Android/EmulatorDeviceTime.cs
Labels: BugFix

#449 build: reenable GeneratePackageOnBuild
  src/Appium.Net/Appium.Net.csproj
Labels: CI

#450 feat: Add idempotency header to request for new sessions
  src/Appium.Net/Appium/Service/AppiumCommandExecutor.cs
Labels: Enhancement
