Repository appium/dotnet-client, pull requests merged in 2022-09, with the labels that each got.

#510 feat: Target .NET Framework 4.8 *v5*
  src/Appium.Net/Appium.Net.csproj
  test/integration/Appium.Net.Integration.Tests.csproj
Labels: Enhancement, Build

#512 feat: Add `simulatorStartupTimeout` iOS capability
  src/Appium.Net/Appium/Enums/IOSMobileCapabilityType.cs
Labels: Enhancement

#516 fix: Update azure-pipelines.yml
  azure-pipelines.yml
Labels: CI, BugFix

#518 Add ChangeLogs for 5.x.x
  CHANGELOG.MD
Labels: Documentation

#517 feat: Jump selenium from 4.0.0 to 4.4.0
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium/AppiumElement.cs
  src/Appium.Net/Appium/AppiumOptions.cs
  src/Appium.Net/Appium/Service/Options/OptionCollector.cs
  test/integration/ServerTests/StartingAppLocallyTest.cs
Labels: Enhancement

#521 fix: Fix Android TouchActionTest + Simplify name in TouchAction class
  src/Appium.Net/Appium/MultiAction/TouchAction.cs
  test/integration/Android/TouchActionTest.cs
Labels: BugFix
