Repository appium/dotnet-client, pull requests merged in 2023-08, with the labels that each got.

#628 test: delete IntentAndroidTest from android integration tests
  test/integration/Android/IntentAndroidTest.cs
Labels: Test

#630 build(deps): bump Selenium from 4.5.1 to 4.11.0
  src/Appium.Net/Appium.Net.csproj
Labels: dependencies

#627 feat: add directConnect feature
  src/Appium.Net/Appium/Android/AndroidDriver.cs
  src/Appium.Net/Appium/AppiumDriver.cs
  src/Appium.Net/Appium/Mac/MacDriver.cs
  src/Appium.Net/Appium/Service/AppiumClientConfig.cs
  src/Appium.Net/Appium/Service/AppiumCommandExecutor.cs
  src/Appium.Net/Appium/Service/DirectConnect.cs
  src/Appium.Net/Appium/Tizen/TizenDriver.cs
  src/Appium.Net/Appium/Windows/WindowsDriver.cs
  src/Appium.Net/Appium/iOS/IOSDriver.cs
  test/integration/ServerTests/AppiumClientConfigTest.cs
  test/integration/ServerTests/DirectConnectTest.cs
Labels: Enhancement
