Repository appium/dotnet-client, pull requests merged in 2023-01, with the labels that each got.

#571 docs: Fix broken link for NuGet.exe
  README.md
Labels: Documentation

#570 feat: added the ability to activate the app with timeout
  src/Appium.Net/Appium/AppiumDriver.cs
  test/integration/Android/Device/AppTests.cs
  test/integration/IOS/Device/AppTests.cs
Labels: Enhancement

#575 chore: Removing some warnings from build logs
  src/Appium.Net/Appium/Android/Enums/AndroidKeyCode.cs
  src/Appium.Net/Appium/Enums/MobileCapabilityType.cs
Labels: chore

#576 test: Fix AppTests due to IntentApp removal
  test/integration/Android/Device/AppTests.cs
Labels: Test

#581 chore: update nuget build and deploy github action to support semantic versioning 2.0
  .github/workflows/release-nuget.yml
  src/Appium.Net/Appium.Net.csproj
Labels: Pipeline, chore

#583 build: create XML documentation file on build and copy it to both binary output directories
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium.Net.xml
  src/Appium.Net/NOTICE.txt
Labels: Build

#582 build: create XML documentation file on build and copy it to both binary output directories
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium.Net.xml
  src/Appium.Net/NOTICE.txt
Labels: Build

#580 chore: update nuget build and deploy github action to support semantic versioning 2.0
  .github/workflows/release-nuget.yml
  src/Appium.Net/Appium.Net.csproj
  test/integration/Appium.Net.Integration.Tests.csproj
Labels: Pipeline, chore
