Repository appium/dotnet-client, pull requests merged in 2023-02, with the labels that each got.

#579 feat: activate app with timeout
  src/Appium.Net/Appium/AppiumDriver.cs
  test/integration/Android/Device/AppTests.cs
  test/integration/IOS/Device/AppTests.cs
Labels: Enhancement

#591 fix: Add missing AutomationName option for ClickElementTest
  test/integration/Windows/ClickElementTest.cs
Labels: BugFix

#592 chore: Remove and sort usings from Integration tests
  test/integration/Android/ActivityTest.cs
  test/integration/Android/ClipboardTest.cs
  test/integration/Android/CurrentPackageTest.cs
  test/integration/Android/Device/AuthenticationTest.cs
  test/integration/Android/Device/HideKeyboardTestCase.cs
  test/integration/Android/Device/NetworkTests.cs
  test/integration/IOS/AppStringsTest.cs
  test/integration/IOS/ClipboardTest.cs
  test/integration/IOS/Device/AppTests.cs
  test/integration/IOS/LockDeviceTest.cs
Labels: chore

#587 docs: add Appium server compatibility for v5.x section
  README.md
Labels: Documentation

#588 Docs: Add Appium server compatibility for v5.x section [Release]
  README.md
Labels: Documentation

#594 test: selendroidTestApp cleanUp
  test/integration/Android/SessionDetailTest.cs
  test/integration/Android/WebviewTest.cs
Labels: Test
