Repository appium/dotnet-client, pull requests merged in 2023-12, with the labels that each got.

#700 chore: Remove resetApp
  src/Appium.Net/Appium/AppiumCommand.cs
  src/Appium.Net/Appium/AppiumDriver.cs
  src/Appium.Net/Appium/AppiumDriverCommand.cs
  src/Appium.Net/Appium/Interfaces/IInteractsWithApps.cs
  test/integration/Android/Device/KeyPressTest.cs
  test/integration/helpers/Apps.cs
Labels: Chore

#704 chore: Update AppiumOptions.cs: Fix typos
  src/Appium.Net/Appium/AppiumOptions.cs
Labels: Chore

#707 chore: Fix Rotate XML documentation
  src/Appium.Net/Appium/AppiumDriver.cs
  src/Appium.Net/Appium/AppiumElement.cs
Labels: Chore

#695 refactor: Upgrade Solution to .NET 6.0
  src/Appium.Net/Appium.Net.csproj
  test/integration/Appium.Net.Integration.Tests.csproj
Labels: Enhancement, Refactor

#713 test: Replace existing NUnit assertions with updated ones to align with NUnit 4 standards.
  .editorconfig
  test/integration/Android/ActivityTest.cs
  test/integration/Android/AndroidUiScrollableTests.cs
  test/integration/Android/AndroidUiSelectorTests.cs
  test/integration/Android/AppStringsTest.cs
  test/integration/Android/ClipboardTest.cs
  test/integration/Android/ConnectionTest.cs
  test/integration/Android/CurrentPackageTest.cs
  test/integration/Android/Device/AuthenticationTest.cs
  test/integration/Android/Device/BrowserTests.cs
  test/integration/Android/Device/KeyboardTests.cs
  test/integration/Android/Device/PerformanceDataTests.cs
  test/integration/Android/ElementTest.cs
  test/integration/Android/ElementTestEspresso.cs
  test/integration/Android/EmulatorDeviceTime.cs
  test/integration/Android/FileInteractionTest.cs
  test/integration/Android/LockDeviceTest.cs
  test/integration/Android/OrientationTest.cs
  test/integration/Android/ScreenRecordingTest.cs
  test/integration/Android/SearchingTest.cs
  test/integration/Android/Session/GeolocationTests.cs
  test/integration/Android/Session/LogTests.cs
  test/integration/Android/SessionTest.cs
  test/integration/Android/SettingTest.cs
  test/integration/Android/TouchActionTest.cs
  test/integration/Android/WaitTests.cs
  test/integration/Appium.Net.Integration.Tests.csproj
  test/integration/IOS/AlertTests.cs
  test/integration/IOS/AppStringsTest.cs
  test/integration/IOS/ElementTest.cs
  test/integration/IOS/LockDeviceTest.cs
  test/integration/IOS/OrientationTest.cs
  test/integration/IOS/ScreenRecordingTest.cs
  test/integration/IOS/ScrollingSearchingTest.cs
  test/integration/IOS/SearchingClassChainTest.cs
  test/integration/IOS/SearchingTest.cs
  test/integration/IOS/Session/LogTests.cs
  test/integration/IOS/SettingTest.cs
  test/integration/IOS/TouchActionTest.cs
  test/integration/IOS/WebviewTest.cs
  test/integration/ServerTests/AppiumClientConfigTest.cs
  test/integration/ServerTests/AppiumLocalServerLaunchingTest.cs
  test/integration/ServerTests/DirectConnectTest.cs
  test/integration/ServerTests/StartingAppLocallyTest.cs
  test/integration/Windows/ClickElementTest.cs
  test/integration/Windows/ImagesComparisonTest.cs
  test/integration/Windows/MultiSelectControlTest.cs
  test/integration/Windows/PentTest.cs
  test/integration/Windows/StickyNotesTest.cs
Labels: Test

#715 test: Add summary comment for test prerequisite
  test/integration/Android/Session/LogTests.cs
Labels: Test

#716 test: Add tests for W3C Actions
  test/integration/Android/ActionsChainsTest.cs
Labels: Test

#717 docs: Add Release Candidate information
  README.md
Labels: Documentation

#719 test: fix tests assertions
  test/integration/Windows/ImagesComparisonTest.cs
Labels: Test
