Repository appium/dotnet-client, pull requests merged in 2024-07, with the labels that each got.

#808 test: Add new Drawing Category to related tests
  test/integration/Android/ActionsChainsTest.cs
  test/integration/Android/ClipboardTest.cs
  test/integration/IOS/ClipboardTest.cs
  test/integration/Windows/PentTest.cs
Labels: Test

#804 break: ExecuteAsync() under the hood implementation after bumping to Selenium 4.23
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium/Service/AppiumCommandExecutor.cs
Labels: BreakingChange

#810 docs: Add compatibility matrix for Appium .NET Client
  README.md
Labels: Documentation
