Repository appium/dotnet-client, pull requests merged in 2024-10, with the labels that each got.

#839 github: update PR template to support test fixes
  .github/PULL_REQUEST_TEMPLATE.md
Labels: GitHub

#838 fix(test): add explicit wait for app package to load before assertion
  test/integration/Android/CurrentPackageTest.cs
Labels: Test

#844 chore: Move solution to the root folder
  Appium.Net.sln
Labels: Chore

#845 refactor: Use `netstandard2.0` as target framework to support wider frameworks
  src/Appium.Net/Appium.Net.csproj
  src/Appium.Net/Appium/Service/AppiumLocalService.cs
Labels: Enhancement, .NET

#849 github: include a notification for new contributors
  .github/release-drafter.yml
Labels: GitHub

#851 github: Fix .sln path for release-nuget.yml
  .github/workflows/release-nuget.yml
Labels: GitHub

#848 docs: Update the Dependencies section
  README.md
Labels: Documentation

#854 github: Fix New Contributors var
  .github/release-drafter.yml
Labels: GitHub

#855 fix: Revert changes for NEW_CONTRIBUTORS
  .github/release-drafter.yml
Labels: BugFix

#856 docs: Add v6.0.0 to Compatibility Matrix
  README.md
Labels: Documentation

#859 test: Adjust tests namespaces to match folder structure
  src/Appium.Net/Appium/Android/Enums/AndroidKeyCode.cs
  test/integration/Android/ActivityTest.cs
  test/integration/Android/Device/BrowserTests.cs
  test/integration/Options/OptionsTest.cs
Labels: Test

#860 test: Add tests for `HideKeyboard(string strategy, string key)`
  test/integration/Android/Device/Keys/KeyPressTest.cs
  test/integration/Android/Device/Keys/KeyboardTests.cs
Labels: Test
