Repository appium/dotnet-client, pull requests merged in 2025-03, with the labels that each got.

#918 test: add iOS keyboard tests for HideKeyboard functionality
  src/Appium.Net/Appium/Interfaces/IHidesKeyboardWithKeyName.cs
  src/Appium.Net/Appium/iOS/IOSDriver.cs
  test/integration/IOS/Device/KeyboardTests.cs
Labels: Test

#913 feat: add events endpoint calls
  src/Appium.Net/Appium/AppiumCommand.cs
  src/Appium.Net/Appium/AppiumDriver.cs
  src/Appium.Net/Appium/AppiumDriverCommand.cs
  test/integration/Android/EventsTests.cs
Labels: Enhancement

#920 fix: use ToLowerInvariant in clipboard to follow invariant culture
  src/Appium.Net/Appium/AppiumCommandExecutionHelper.cs
Labels: BugFix

#921 fix: ToLower/ToUpper to ToLowerInvariant/ToUpperInvariant
  src/Appium.Net/Appium/ScreenOrientationExtensions.cs
  src/Appium.Net/Appium/Service/Options/OptionCollector.cs
  src/Appium.Net/Appium/iOS/IOSStartScreenRecordingOptions.cs
  test/integration/helpers/Env.cs
Labels: BugFix

#923 ci: Fix .NET Core run and add AppiumClientConfigTest to pipeline
  azure-pipelines.yml
Labels: CI

#922 feat: Add support for Relax SSL validation
  src/Appium.Net/Appium/Service/AppiumClientConfig.cs
  src/Appium.Net/Appium/Service/AppiumCommandExecutor.cs
  src/Appium.Net/Appium/Service/AppiumHttpCommandExecutor.cs
  test/integration/ServerTests/AppiumClientConfigTest.cs
  test/integration/ServerTests/RelaxSslValidationTest.cs
Labels: Enhancement
